/* .navbar {
  -webkit-box-shadow: 0px 6px 62px -9px rgba(191, 191, 191, 0.26);
  -moz-box-shadow: 0px 6px 62px -9px rgba(191, 191, 191, 0.26);
  box-shadow: 0px 6px 62px -9px rgba(191, 191, 191, 0.26);


} */
