@media (min-width: 1290px) {
  .container {
    height: 100px !important;
  }
}

.a:hover {
  background-color: rgb(255, 0, 0);
}

p > .card_text {
  font-size: xx-small;
}

/* 
@media (max-width: 574px) {
  .a {
    padding-left: 10px;
  }
} */
